.Search{
    height: 25vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #121721;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.name{
 height: 50%;
 width: 100%;
 font-size: 30px;
 color: white;
 display: flex;
 justify-content: center;
 align-items: center;
}
.inputDiv{
    height: 50%;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;

}
.inputDiv input{
    width: 30%;
    padding: 0.5rem;
    border-radius: .5rem;
    border: none;
}
.inputDiv button{
    padding: 0.5rem 1rem;
    border-radius: .5rem;
    margin-left: 10px;
    background-color: #4b608a;
    border: none;
    color: white;
}
